<div class="row">


<div class="col-xs-4 col-xs-offset-4">




<h3>留言区</h3>

<%= simple_form_for [@product,@content] do |f| %>


<div class="group">
  <%= f.input :content %>
</div>

<%= f.submit "发送到评论去~", data: { disable_with: "Submitting..." }, class: "btn btn-danger" %>

<% end %>

</div>

</div>
