/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";



 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效



//------navbar-default--------

.navbar-default {
  background-color: rgba(#000, 0.9);
  border-radius: 0;
  border: 0;
}


#font-color a{
  color: #FFF;
}

#font-color a:hover {
  background-color: transparent;
}

#font-color_play {
  color: #FFF;
}

//-------dropdown-menu-li-a-----------

.resetting a{
  background-color: transparent;
}


//---------Whyselectus----------

.Whyselectus img {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    text-align: center;
    // margin-left: 27px;

}

.Whyselectus {

 text-align: center;

}

.part-2 {
  background: #f3f3f5;
}

.part2-text {
  height: 200px;
  text-align: center;
  font-size: 36px;
  line-height: 200px;
}

.font-define {
  width: auto;
  height: 80px;
  line-height: 40px;
  font-size: 18px;
}

//-----------part-major-----------

.part-major {

  // background-color: #9CCC65;
  height: 400px;
  margin-top: 15px;
  // text-align: center;
}

.text_liulan {
  height: 100px;
  font-size: 36px;
  text-align: center;
  line-height: 100px;
}

.big_images1 {
  height: 400px;
  background:image-url('/tea.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.big_images2 {
  height: 400px;
  background:image-url('/bigimages2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.big_images3 {
  height: 400px;
  background:image-url('/bigimages3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.big_images4 {
  height: 400px;
  background:image-url('/bigimages4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}



.width_200 {
  height: auto;
}

.btn-danger a {
  color: #FFF;
}

.part-person {
  height: 150px;
  margin-top: 60px;
  background:image-url('/pexels-photo-236287.jpeg');
  float: left;
  width: 100%;
}

.design-style {
  text-align: center;
  width: 200px;
  height: 70px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 40px;
}

.design-style a{
  text-align: center;
  width: 200px;
  height: 70px;
  display: block;
  font-size: 20px;
  line-height: 70px;
  border: 3px solid #81ceff;
  color: #000;
  border-radius: 15px;
}

.design-style a:hover {

  background-color: rgba(#76daff,0.8);
  text-decoration: none;
  border-color: #FFF;
  border-radius: 15px;

}

.design-style img{
  float: left;
}

.community {
  margin-top: 20px;
  background-color: #FFF176;
  text-align: center;
}

.community_images img {
  // border-radius: 50%;
  // width: 270px;
  // height: 270px;
  // text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

//--------links_area----------

.links_area {
  width: 600px;
  height: 100px;
  background-color: rgba(255,255,255,0.5);
  margin: 0 auto;
  padding-top: 30px;
  border-radius: 15px;
}

.background_show {
  // background-color: #80DEEA;
  background: -webkit-linear-gradient(left bottom, #FFFFFF, #81ceff); /* For Safari 5.1 to 6.0 */

}

.products_style {
  background-color: #f4f7f9;
  line-height: 30px;
}

.product_title {
  font-size: 18px;
  color: #FFF;
}

.product_title a{
  font-size: 18px;
  color: #000;
}

.product_title a:hover{

    text-decoration: none;
}

.product_title span {
  color: #e53935;
  font-weight: bold;
}

//--------search-id-------

#search-id {
  width: 200px;
  margin-left:100px;
  height: 35px;
  margin-top: 7px;

}

//-----------set_height----------

#search-id input:focus {

  box-shadow: none;
  border-style: none;
  border: 0;

}

#search-id input {

  box-shadow: none;
  border-style: none;
  border: 0;

}

//------import_button(搜索框)--------

.import_button {
  height: 35px;
}

.set_height {
  height: 35px;
  border: 0;
  border-radius: 3px;
}

.cart-thead  {
  margin-left: 50px;
}

.table-bordered {
  text-align: center;
  line-height: 40px;
}

.table_center a {
  font-size: 18px;
  color: #000;
  line-height: 120px;
}

.table_center a:hover {
  text-decoration: none;
  color: #FF5722;
}

.cart_clear {
  text-decoration: none;
}

//----------product_description-------------


.product_description {
  font-size: 16px;
  margin-top: 20px;
}

.product_quantity {
  color: #D84315;
  margin-top: 10px;
  line-height: 25px;

}

.product-price {
  font-size: 25px;
  margin-top: 20px;
  border-top: 2px solid #000;
  line-height: 70px;
}

.cart_button {
  margin-top: 30px;
}


.product_titleh2 {
  font-weight: normal;
  line-height: 30px;
}

.favorite a {
  color: #000;
}

.favorite a:hover {
  color: #FF7043;
  text-decoration: none;
}

//-------add_float_style location--------

.cancel_favorite a {
  color: #BDBDBD;
}

.cancel_favorite a:hover {
  text-decoration: none;
}

.cart_anyone  {
  width: 150px;
  height: 42px;
  background:image-url('/cartProduct.png');
  background-repeat: no-repeat;
  margin: 0 auto;
}

.add_text_decoration {
  border-bottom: 1px solid #2f6f7e;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.cart_anyone span {
  font-size: 21px;
  line-height: 48px;
  margin-left: 50px;
  color: #2f6f7e;
}

//-------clear_cart--------

.clear_cart {
  margin-bottom: 20px;
  width: 90px;
  height: 40px;
  padding-top: 10px;
  float: right;
}

.clear_cart a{
  color: #000;
}

.clear_cart a:hover {
  text-decoration: none;
  color: #DD2C00;
}

// ---------bg_revise(product_top_text)--------
.bg_revise {

  background-color: rgba(255,255,255,0.4)
}

// -----category_products_link_top-----

.category_products a {
  background-color: rgba(0,0,0,0.1);
  border-style: none;
  border-bottom: 2px solid #613854;
}

.category_products a:hover {
  background-color: rgba(0,0,0,0.2);
  color: #FFF;
  border-bottom: 2px solid #000;
}

.repository {
  color: #FFF;

}

.dropdown a span:focus {
  background-color: #000;

}

//-----------cancel_decoration--------------

.cancel_decoration a:hover {
  text-decoration: none;
}

//-------Footer_Design----------

.Footer_Design {
  // background: -webkit-linear-gradient(#FFFFFF, #0c2340);
  background-color: #000;
  height: 270px;
}

//--------Footer_content----------

.footer_ul ul {
  list-style: none;
  text-align: center;
  margin-top: 50px;
}

.footer_ul ul h4 {
  color: #FFF;
}

.footer_ul ul li {
  height: 30px;
  font-size: 16px;
  color: #FFF;
}

.footer_ul ul li a{
  height: 30px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
}

.footer_ul ul li a:hover {

  text-decoration: none;
  color: #00a98f;
}

.footer_ul {
  text-align: right;
}

.Design_horizontal{
  width: 80%;
  margin: 0 auto;
  color: #000000;
}

//------------Design_yourname------------

.Design_yourname {
  text-align: center;
  margin-top: 20px;
  color: #FFF;

}


//-------LogDown--------

.LogDown {
  color: #000000;
}

//--------registrations_newnew---------

.registrations_newnew {
  background-image: url("/sign_up.jpeg");
  margin-top: -20px;
}
.form-actionss {
  margin: 0 auto;
}

.pull-center {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  color: #FFF;
  margin-top: 40px;
}

// ---------label_html: { class: 'my_class' }----------


.my_class {
  color: #FFF;
}

.label_quantity {
  color: #FFF;
}


// -----------will_paginate_style--------------

.pagination-bg li a {
  background-color: #ff4c4c;
  border: none;
}



// ----------input_email------------

.input_email {
  border: 1px solid #000;
  height: 35px;
}
.input_email:focus {
  border: 1px solid #555;
  resize: none;
  box-shadow: none;
}

//-------input_remember---------

.input_remember {
  font-size: 16px;
  line-height: 19px;
}

//-----------registrations_sign_up-------------

.registrations_sign_up {
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  color: #FFF;
  font-size: 16px;
}

.registrations_sign_up label{
  padding: 10px;
  color: #FFF;
  font-weight: normal;
  font-size: 16px;
}

//---------share_links------------

.share_links {
  float: right;
}

//------------ index_entry-------------

.index_entry {
  width: 130px;
  float: left;
  height: 50px;
  line-height: 50px;
  font-size:17px;

}

.index_entry a {
 text-decoration: none;
 width: 130px;
 height: 50px;
 display: block;
 background-color: #7acef4;
 color: #fff;
 text-align: center;
 border-radius: 2px;

}

.index_entry a:hover {
  background-color: #3db4e7;
}
.index_carousel {
  margin-top: -21px;
  background-color: #fd5c63;
}

//------------Design slogan product_description

.slogan {
  margin-bottom: 25%;
}

//-----------Defined description_songti ------------------

.description_songti {
  font-family: '宋体';
}

// ------------item > image --------------

.item img {
  max-width: 100%;
}

// -------hoverEffect-----------

.hoverEffect11 {
  width: 220px;
  height: 220px;
}

// --------design_style----------

.design_style {
  color: #FFF;
}

//-------footerBottomText

.copyRight {
  text-align: center;
  color: #fff;
  line-height: 55px;
}

.cartRight {
//  border: 2px solid #000;
  background-color: rgba(#81ceff, 0.4);
  color: #2f6f7e;
  font-size: 16px;
  font-weight: normal;
}

// --------购物车detail样式化----------

.detail {
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.cartItemDetail {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #000;
  margin-bottom: 2px;
}

.cartItemName a {
  color: #000;
}
