<footer style="margin-top: 40px;" class="Footer_Design">


<div class="row">


<div class="col-md-2  col-md-offset-1 footer_ul col-xs-4">
  <ul>
    <li><h4>广告招商</h4></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
  </ul>
</div>

<div class="col-md-2  col-md-offset-1 footer_ul col-xs-4">
  <ul>
    <li><h4>品牌代理</h4></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
  </ul>
</div>

<div class="col-md-2  col-md-offset-1 footer_ul col-xs-4">
  <ul>
    <li><h4>合作伙伴</h4></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
  </ul>
</div>


<div class="col-md-3 footer_ul col-xs-4">
  <ul  id="footer_column4">
    <h2><a href="#"><img src="/Google+.svg" alt=""></a>&nbsp;<a href="#"><img src="/facebook.svg" alt=""></a>&nbsp;<a href="#"><img src="/twitter.svg" alt=""></a><a href="#"><img src="/linux.svg" alt=""></a></h2>
    <li><a href="#">&nbsp;</a></li>
    <li><a href="#"><img src="/blog.svg" alt="">&nbsp;<span class="LogDown">http://dbshooy-blog.logdown.com/</span></a></li>
  </ul>
</div>

</div>

<div class="row">
  <hr class="Design_horizontal">
</div>

<div class="row">
  <p class="Design_yourname">Design by 王訢儒(首席架构师)</p>
</div>

</footer>
