<footer style="margin-top: 40px;" class="Footer_Design">

<div class="col-md-2  col-md-offset-1 footer_ul col-xs-4">
  <ul>
    <li><h4>广告招商</h4></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
  </ul>
</div>

<div class="col-md-2  col-md-offset-1 footer_ul col-xs-4">
  <ul>
    <li><h4>品牌代理</h4></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
  </ul>
</div>

<div class="col-md-2  col-md-offset-1 footer_ul col-xs-4">
  <ul>
    <li><h4>合作伙伴</h4></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
    <li><a href="#">阿里巴巴</a></li>
  </ul>
</div>


<div class="col-md-3 design_style col-xs-4 footer_ul">
  <ul>
    <br>
    <h3>Design by dbshooy</h3>

    <h4>Copy Copyright ©2017 dbshooy</h4>
  </ul>
</div>


<div class="row">
  <hr class="Design_horizontal">
</div>

<div class="row">
  <p class="Design_yourname">Design by 王訢儒(首席架构师)</p>
</div>

</footer>
